<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'complaintstyle.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="containers">
        <div class="mid container" >
            <div style="margin: 5em 10em;overflow: scroll;max-height: 550px; width: 70em;max-width: 75em;">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Serial_number</th>
                        <th scope="col">identity</th>
                        <th scope="col">reason</th>
                        <th scope="col">LeaveDate</th>
                        <th scope="col">ArrivalDate</th>
                        <th scope="col">Approve</th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- ye repeat hoga -->
                        {% for appn in all_appns%}
                          <tr >
                              <td> {{ forloop.counter }}</td>
                              <td>{{ appn.identity }}</td>
                              <td>{{ appn.reason }}</td>
                              <td>{{ appn.start_date }}</td>
                              <td>{{ appn.end_date }}</td>
                              <td>{{ appn.status_accepted }}</td>
                          </tr>
                        {% endfor %}
                        <!-- yahan tak -->
                    </tbody>
                  </table>
                  
            </div>
        </div>
        <form method="POST" action="{% url 'apply_leave'  %}">
          {% csrf_token %}
          <div class="footer">
            <button type="submit" class="btn"> Apply for new leave </button>  
          </form> 
    </div>
</body>

</html>

