<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
    {% load static %}
    <link href="{% static 'complaintstyle.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="containers">
        <div class="App">
            <div class="login">
                <div class="container">
                    <div class="base-container">
                        <div class="header">Apply for Leave</div>
                        <form action="{% url 'leave_req' %}" method = "POST">
                            {% csrf_token %}
                        <div class="content">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="Reason">Reason</label>
                                        <input type="text" name="reason" placeholder="reason" /> </div>
                                    <div class="form-group">
                                        <label for="phn">From(date)</label>
                                        <input type="date" name="strt_date" placeholder="strt_date" /> </div>
                                    <div class="form-group">
                                        <label for="arrival">To(date)</label>
                                        <input type="date" name="end_date" placeholder="end_date" /> </div>
                                </div>
                            <div class="footer">
                                    <button type="submit" class="btn"> Apply </button>
                            </div>
                        </form>
                    </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
