<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link href="noticestyles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="boxed">
        <div>
            <div class="note">
              <div class="box">
                <h1>Asbhjbj</h1>
              </div>
                  <button><i class="fa fa-expand"></i></button>
            </div>
            <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
              <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
              <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
              <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
              <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
              <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>
                </div>
                    <button><i class="fa fa-expand"></i></button>
              </div>
          </div>
    </div>
</body>

</html>
