<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'noticestyles.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" style="margin-left: 10em;margin-top: 6em;">

    <div>
      <form class="create-note">
          <input
            name="title"
            placeholder="Title"
          >
        <textarea
          name="content"
          placeholder="Add Announcement "
          rows={3}
        ></textarea><i class="fa fa-plus-circle fa-2x" style="color: #f5ba13;"></i>
      </form>
    </div>

    <div class="boxed">

        <div>
            <div class="note">
              <div class="box">
                <h1>Asbhjbj</h1>    
              </div>
              <button><i class="fa fa-trash"></i></button>
              <a href="#openModal-about"><button><i class="fa fa-expand"></i></button></a>
            </div>
        </div>

        <div id="openModal-about" class="modalDialog">
            <div>
               <a href="#close" title="Close" class="close">X</a>
              <h2>Modal</h2>
              <p>sdcacsdcsc</p>
           </div>
        </div>

     </div>
</body>

</html>
