<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="noticestyles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="boxed">
        <div>

            <div class="note">
              <div class="box">
                <h1>Asbhjbj</h1>    
              </div>
              <a href="#openModal-about"><button><i class="fa fa-expand"></i></button></a>
            </div>
            <div class="note">
                <div class="box">
                  <h1>Asbhjbj</h1>    
                </div>
                <a href="#openModal-about"><button><i class="fa fa-expand"></i></button></a>
              </div>
              
            <div id="openModal-about" class="modalDialog">
                <div>
                   <a href="#close" title="Close" class="close">X</a>
                   <h2>Modal</h2>
                   <p>sdcacsdcsc</p>
                 </div>
             </div>
          </div>
    </div>
</body>

</html>
