<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link href="{% static 'occupantsstyle.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div>
      <div class="box">

        <!-- yahan pe bandon ke naam roll no room noa ayenge -->
        {% for stud in studs %}
          <div class="card">
            <div class="top" style="text-align: center;">
              <h2 class="title">{{ stud.name }}</h2>
            </div>
            <div class="bottom">    
              <h1 class= "info">{{ stud.roll_no }}</h1>
              <h2 class= "info">{{ stud.room_no }}</h2>
            </div>
          </div>
        {% endfor %}
<!-- yahan tak ek card hai name ka -->
      </div>
    </div>
</body>

</html>
