<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="occupantsstyle.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div>
      <div class="box">

        <!-- yahan pe bandon ke naam roll no room noa ayenge -->
        <div class="card">
          <div class="top">
            <h2 class="title">Salil</h2>
          </div>
          <div class="bottom">    
            <h1 class= "info">BCS2018_047</h1>
            <h2 class= "info">346</h2>
          </div>
        </div>
<!-- yahan tak ek card hai name ka -->
      </div>
    </div>
</body>

</html>
